<!DOCTYPE html>
<head>
<!--CSS-->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/> 
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!--SCRIPTS-->
<script type="text/javascript" language="JavaScript" src="js/JS.js"></script>
<title>Compras Modulus</title>
</head>
<body>  
<div class="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img  src="/_javascript/public/imgs/logo-alt.png" width="10%" href="index.html">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">StockStatus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Compras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cotações</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Logística</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">?</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">?</a></li>
                        <!--<li><a class="dropdown-item" href="#"></a></li>-->
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">S/N</button>
            </form>
          </div>
        </div>
    </nav>   
    <form action="/pegaformulario" method="POST" oninput="capta_dados();">
        <div class="row">
            <div class="col">
                <label>Data P.C: </label><BR>
                <input type="date" name="data_pc" id="data_pc" value=""  > <BR>
            </div>
            <div class="col">
                <label>Processo de Compra: </label><BR>
                <input type="text" name="p_c" id="p_c" value="000/00"  > <BR>
            </div>
            <div class="col">
                <label>Cotação: </label><BR>
                <input type="text" name="cotacao" id="cotacao" value="000/00"  > <BR>
            </div>
            <div class="col">
                <label>Fornecedor: </label><BR>
                <input type="text" name="fornecedor" id="fornecedor"  > <BR>
            </div>
            <div class="col">
                <label>Quantidade: </label><BR>
                <input type="number" name="qtd" id="qtd"  > <BR>
            </div>
            <div class="col">
                <label>Partnumber: </label><BR>
                <input type="text" name="partnumber" id="partnumber"  > <BR>
            </div>
            <div class="col">
                <label>Descrição: </label><BR>
                <input type="text" name="descricao" id="descricao"  > <BR>
            </div>
            <div class="col">
                <label>Número de série: </label><BR>  
                <input type="text" name="sn" id="sn"  > <BR>
            </div>
            <div class="col">
                <label>Finalidade: </label><BR>
                <input type="text" name="finalidade" id="finalidade"  > <BR>
            </div>
            <div class="col">
                <label>Valor em dólar: </label><BR>
                <input type="number" name="v_dolar" id="v_dolar" value="valor_dolar"  ><br>
            </div>
            <div class="col">
                <label>Valor em Real: </label><BR>
                <input type="number" name="v_real" id="v_real" value="valor_real"  ><br>
            </div>
            <div class="col">
                <label>Frete interno: </label><BR>
                <input type="text" name="frete_interno" id="frete_interno" > <BR>
            </div>
            <div class="col">
                <label>Frete USA: </label><BR>  
                <input type="text" name="frete_usa" id="frete_usa"  > <BR>
            </div>
            <div class="col">
                <label>Frete para o Brasil: </label><BR>
                <input type="text" name="frete_br" id="frete_br"  > <BR>
            </div>
            <div class="col">
                <label>Custo Final: </label><BR>  
                <input type="text" name="custo_final" id="custo_final" readonly><BR>
            </div>
            <div class="col">
                <label>Estorno: </label><BR>
                <input type="text" name="estorno" id="estorno"  > <BR>
            </div>
            <div class="col">
                <label>Forma de pagamento: </label><BR>  
                <input type="text" name="forma_pgto" id="forma_pgto"  > <BR>
            </div>
            <div class="col">
                <label>Forma de envio: </label><BR>  
                <input type="text" name="forma_envio" id="forma_envio"  > <BR>
            </div>
            <div class="col">
                <label>Recebido em: </label><BR>  
                <input type="date" name="recebido_em" id="recebido_em"  > <BR>
            </div>
            <div class="col">
                <label>Tempo em dias: </label><BR>  
                <input type="" name="tempo_dias" id="tempo_dias" readonly> <BR>
            </div>
            <div class="col">
                <label>Observações: </label><BR>  
                <input type="text" name="obs" id="observacoes"  > <BR>
            </div>
            <div class="">
                <label class="">NF entregue ao financeiro?</label>
                <input type="checkbox" name="nfe" id="nfe"  ><br> 
            </div>
            <button class="submit" type="submit">Enviar</button>
        </div>
    </form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</div>
</body>
</html>
